ZAWS_REGION=us-east-1
ZAWS_ACCESS_KEY_ID=your_access_key_id
ZAWS_SECRET_ACCESS_KEY=your_secret_access_key
DYNAMODB_TABLE_NAME=currencies_offers
DYNAMODB_REQUEST_OFFERS_TABLE_NAME=CurrencyExchangeRequestOffers
N8N_REQUEST_SUBMIT_WEBHOOK_URL=https://nairobiaicommunity.app.n8n.cloud/webhook/cebb9e6d-0316-46a0-b45b-7bdaed75772b
N8N_ACCEPT_OFFER_WEBHOOK_URL=https://nairobiaicommunity.app.n8n.cloud/webhook/c0159cc5-e2bb-49f1-acc4-a7593234e455
N8N_CLOSE_REQUEST_WEBHOOK_URL=https://nairobiaicommunity.app.n8n.cloud/webhook/751b1394-789c-4e18-88dc-f3a5a65584ac

